.DS_Store
.idea/
dist/hqpwv-server-*
node_modules/
www/css/main.css.map

hqpwv-metadata*
hqpwv-playlists/
.history
.continueignore
design.af
design.af~lock~
todo.txt
changelog.txt
design/
copilot-instructions.md

server/data/